<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Építkezés manager</title>

    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f5f5f5;
        }

        header {
            background-color: #333;
            color: #fff;
            text-align: center;
            padding: 10px;
        }

        table {
            width: 80%;
            margin: 20px auto;
            margin-top: 0px;
            border-collapse: collapse;
            background-color: #fff;
        }

        th, td {
            padding: 12px;
            text-align: left;
            border-bottom: 1px solid #eee;
            border-right: 1px solid #eee;
        }

        .elrejtes{
            border-bottom: 0px;
            border-right: 0px;
        }
        .rejtett-col{
            background-color: #fff;
        }

        th {
            background-color: #333;
            color: #fff;
        }

        .actions {
            display: flex;
        }

        .btn {
            padding: 8px 12px;
            background-color: #333;
            color: #fff;
            border: 1px solid #e7e7e7;
            cursor: pointer;
        }

        .add {
            margin-left: 10%;
        }


    </style>
</head>
<body>